@media (min-width: 1024px) {
  .admin-container {
    padding-left: 300px;
  }
  .ayah-drawer {
    display: none;
  }
}

body {
  background: #f5f5f5;
}

.card.white {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
}

.admin-container {
  background: #FAFAFA;
}

.admin-container h2{
  font-size: 1.3em;
  font-weight:900;
}

.subheader {
  border-bottom: solid 2px #36495D;
}

.subheader h1 {
  font-size: 1.5em;
  font-weight:900;
  color: #36495D;
}

/*
 Quill tooltip
*/
.ql-snow .ql-tooltip {
  z-index: 1000;
}
.ql-container {
  min-height: 150px;
}


/*++++++++++ Front +++++++++++++*/
.toolbar--absolute + main, .toolbar--fixed + main {
    /*padding-top: 48px;*/
}
